.about{
    margin: 0 0 0 20px;
    font-size: 200%
}
.aboutRight{
    margin: 0 0 0 150px;
    font-size: 200%;
}
.aboutRightBlake{
  margin: 0 0 0 121px;
  font-size: 200%;
}
.heading{
  margin: 20px 20px 20px 320px;
}
.headingTwo{
  margin: 20px 0 0 20px;
}

.profileRight{
  font-size: 200%
}