.aboutJames{
    text-align: center;
    font-size: 200%;
    padding-left: 40px;
}
.aboutSusan{
    text-align: center;
    font-size: 200%;
    padding-left: 30px;
}

.aboutJosh{
    text-align: center;
    font-size: 200%;
    padding-left: 20px;
}
.aboutBlake{
    text-align: center;
    font-size: 200%;
    padding-left: 32px;
}
.aboutTwo{
    text-align: center;
    font-size: 200%;
    padding-left: 60px;
}
.aboutThree{
    text-align: center;
    font-size: 200%;
    padding-left: 80px;
}
.footer{
    text-align: center;
    font-size: 200%;
     padding-right: 200px;
}

.profileRight{
  font-size: 200%;
}
.img-circle {
  border-radius: 50%;
}
