
$card-size: 30rem;
$flip-duration: 1s;
$perspective: 15rem;
$degree: 90deg;
.Card {
  margin: 1rem;
  display: inline-block;
  cursor: pointer;

  .CardFront,
  .CardBack {
    width: $card-size;
    height: $card-size;
    text-align: center;
    margin-bottom: -$card-size / 2;

    p {
      margin: 0;
      padding: 0.5rem;
    }
    h3 {
      padding: 0 2rem;
      position: relative;
      top: 2rem;
    }
  }

  .CardFront {
    position: relative;
    z-index: 1;
    color: #000000;
    background: linear-gradient(#FAF1D6 , #FF9D81);
    border-color: #484848;
    border-width: 20px;
    border-radius: 10px;

    // Animations
    &.CardBackFlip {
      animation: back-flip-1 $flip-duration 1 forwards;
      @keyframes back-flip-1 {
        0% {transform: rotateY(0deg); z-index: 1}
        50% {transform: rotateY($degree) perspective($perspective); z-index: 1}
        100% {transform: rotateY($degree); z-index: -1}
      }
    }

    &.CardFrontFlip {
      animation: front-flip-1 $flip-duration 1 forwards;
      @keyframes front-flip-1 {
        0% {transform: rotateY(-$degree); z-index: -1}
        50% {transform: rotateY(-$degree) perspective($perspective); z-index: -1}
        100% {transform: rotateY(0deg); z-index: 1}
      }
    }
  }

  .CardBack {
    font-size: 0.9rem;
    position: relative;
    z-index: -1;
    top: -$card-size / 2;
    color: #012E34;
    background: linear-gradient(#FAF1D6, #FF9D81);
    border-color: #484848;
    border-width: 20px;
    border-radius: 10px;

    // Animations
    transform: rotateY(-$degree);
    &.CardBackFlip {
      animation: back-flip-2 $flip-duration 1 forwards;
      @keyframes back-flip-2 {
        0% {z-index: -1}
        50% {transform: rotateY(-$degree) perspective($perspective); z-index: -1}
        100% {transform: rotate(0deg); z-index: 1}
      }
    }

    &.CardFrontFlip {
      animation: front-flip-2 $flip-duration 1 forwards;
      @keyframes front-flip-2 {
        0% {transform: rotate(0deg); z-index: 1}
        50% {transform: rotateY($degree) perspective($perspective); z-index: 1}
        100% {transform: rotateY($degree); z-index: -1}
      }
    }
  }
}
