@import "../../theme/variables.scss";

.home {
  dd {
    margin-bottom: 15px;
  }
}
.masthead {
  background: linear-gradient(#FAF1D6 , #FF9D81);
  padding: 40px 20px;
  color: white;
  text-align: center;
  .logo {
    $size: 200px;
    margin: auto;
    height: $size;
    width: $size;
    vertical-align: middle;
    border-color: #E61727;
    border-width: 10;
    p {
      line-height: $size;
      margin: 0px;
    }
    img {
      width: 100%;
      margin: auto;
    }
  }
  h1 {
    color: #E61727;
    font-size: 4em;
    font-weight: lighter;
  }
  h2 {
    color: #484848;
    font-size: 2em;
    margin: 20px;
  }
  a {
    color: #E61727;
  }
  p {
    margin: 10px;
  }
  .humility {
    color: $humility;
    a {
      color: $humility;
    }
  }
  .github {
    font-size: 1.5em;
  }
}

.counterContainer {
  text-align: center;
  margin: 20px;
}
